function Helper.random 1
push constant 13
push static 0
call Math.multiply 2
push constant 17
add
pop local 0
push local 0
push argument 0
call Helper.mod 2
pop local 0
push static 0
push constant 31
add
pop static 0
push local 0
return
function Helper.mod 2
push argument 0
push argument 1
call Math.divide 2
pop local 1
push argument 0
push local 1
push argument 1
call Math.multiply 2
sub
pop local 0
push local 0
return
function Helper.set_seed 0
push constant 3
pop static 0
push constant 0
return
function Helper.insert_point 3
push argument 1
push constant 1
add
call Array.new 1
pop local 0
push constant 0
push local 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 2
push constant 1
pop local 1
label WHILE_EXP0
push local 2
push argument 1
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push local 2
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Helper.remove_point 3
push argument 1
push constant 1
sub
call Array.new 1
pop local 0
push argument 1
push constant 1
sub
pop argument 1
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push argument 1
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push local 1
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Helper.erase_square 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
call Point.get_x 1
push argument 0
call Point.get_y 1
push argument 0
call Point.get_x 1
push argument 1
add
push argument 0
call Point.get_y 1
push argument 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Helper.print_points 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 0
push argument 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Point.get_x 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 1
call Point.get_y 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Output.println 0
pop temp 0
push constant 0
return
