function Snake.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 20
pop this 3
push constant 0
push constant 0
call Point.new 2
push constant 0
push constant 0
call List.new 3
pop this 2
push this 2
pop this 0
push this 2
pop this 1
push constant 0
push constant 0
push this 3
push this 3
call Screen.drawRectangle 4
pop temp 0
push pointer 0
return
function Snake.moveDown 6
push argument 0
pop pointer 0
push this 0
call List.getData 1
pop local 3
push local 3
call Point.get_x 1
pop local 1
push local 3
call Point.get_y 1
push this 3
add
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push local 2
push local 1
push this 3
add
push local 2
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push local 2
call Point.new 2
push constant 0
push this 0
call List.new 3
pop local 4
push this 0
push local 4
call List.setNext 2
pop temp 0
push local 4
pop this 0
push pointer 0
push this 0
call List.getData 1
push argument 1
call Food.get_coordinate 1
call Snake.got_food 3
pop local 0
push local 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call List.getData 1
push this 3
call Helper.erase_square 2
pop temp 0
push this 1
pop local 5
push this 1
call List.getNext 1
pop this 1
push local 5
call Memory.deAlloc 1
pop temp 0
label IF_FALSE0
push local 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Food.createFood 1
pop temp 0
label IF_FALSE1
call Config.get_speed 0
call Sys.wait 1
pop temp 0
push constant 0
return
function Snake.moveUp 6
push argument 0
pop pointer 0
push this 0
call List.getData 1
pop local 3
push local 3
call Point.get_x 1
pop local 1
push local 3
call Point.get_y 1
push this 3
sub
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push local 2
push local 1
push this 3
add
push local 2
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push local 2
call Point.new 2
push constant 0
push this 0
call List.new 3
pop local 4
push this 0
push local 4
call List.setNext 2
pop temp 0
push local 4
pop this 0
push pointer 0
push this 0
call List.getData 1
push argument 1
call Food.get_coordinate 1
call Snake.got_food 3
pop local 0
push local 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call List.getData 1
push this 3
call Helper.erase_square 2
pop temp 0
push this 1
pop local 5
push this 1
call List.getNext 1
pop this 1
push local 5
call Memory.deAlloc 1
pop temp 0
label IF_FALSE0
push local 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Food.createFood 1
pop temp 0
label IF_FALSE1
call Config.get_speed 0
call Sys.wait 1
pop temp 0
push constant 0
return
function Snake.moveLeft 6
push argument 0
pop pointer 0
push this 0
call List.getData 1
pop local 3
push local 3
call Point.get_x 1
push this 3
sub
pop local 1
push local 3
call Point.get_y 1
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push local 2
push local 1
push this 3
add
push local 2
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push local 2
call Point.new 2
push constant 0
push this 0
call List.new 3
pop local 4
push this 0
push local 4
call List.setNext 2
pop temp 0
push local 4
pop this 0
push pointer 0
push this 0
call List.getData 1
push argument 1
call Food.get_coordinate 1
call Snake.got_food 3
pop local 0
push local 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call List.getData 1
push this 3
call Helper.erase_square 2
pop temp 0
push this 1
pop local 5
push this 1
call List.getNext 1
pop this 1
push local 5
call Memory.deAlloc 1
pop temp 0
label IF_FALSE0
push local 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Food.createFood 1
pop temp 0
label IF_FALSE1
call Config.get_speed 0
call Sys.wait 1
pop temp 0
push constant 0
return
function Snake.moveRight 6
push argument 0
pop pointer 0
push this 0
call List.getData 1
pop local 3
push local 3
call Point.get_x 1
push this 3
add
pop local 1
push local 3
call Point.get_y 1
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push local 2
push local 1
push this 3
add
push local 2
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push local 2
call Point.new 2
push constant 0
push this 0
call List.new 3
pop local 4
push this 0
push local 4
call List.setNext 2
pop temp 0
push local 4
pop this 0
push pointer 0
push this 0
call List.getData 1
push argument 1
call Food.get_coordinate 1
call Snake.got_food 3
pop local 0
push local 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call List.getData 1
push this 3
call Helper.erase_square 2
pop temp 0
push this 1
pop local 5
push this 1
call List.getNext 1
pop this 1
push local 5
call Memory.deAlloc 1
pop temp 0
label IF_FALSE0
push local 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Food.createFood 1
pop temp 0
label IF_FALSE1
call Config.get_speed 0
call Sys.wait 1
pop temp 0
push constant 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.got_food 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push argument 1
call Point.get_x 1
push argument 2
call Point.get_x 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Point.get_y 1
push argument 2
call Point.get_y 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 0
label IF_FALSE1
label IF_FALSE0
push local 0
return
